In [15]:
# Linear algebra and data manipulation imports
import pandas as pd
import numpy  as np

In [16]:
DATA_DIR='../data/'
RESULT_DIR='../results/'

# Import transformed train data and test data
train = pd.read_csv(DATA_DIR + 'encoded_titanic_train.csv')
test = pd.read_csv(DATA_DIR + 'encoded_titanic_test.csv')

passengers_df = pd.read_csv(DATA_DIR + 'clean_titanic_test.csv')['PassengerId']

**Note**:

The train and test data are available so no need to for a train-test split step

In [17]:
# feature/independent variables train data
X_train = train.drop('Survived', axis=1)

# label/dependent variable train data
y_train = train['Survived']

In [18]:
X_train.head()

,Age,SibSp,Parch,Fare,Sex_male,Pclass_2,Pclass_3,Embarked_Q,Embarked_S,Title_Capt,...,Title_Master,Title_Miss,Title_Mlle,Title_Mme,Title_Mr,Title_Mrs,Title_Ms,Title_Rev,Title_Sir,Title_the Countess
0,22.0,1,0,7.2500,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,38.0,1,0,71.2833,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,26.0,0,0,7.9250,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,35.0,1,0,53.1000,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,35.0,0,0,8.0500,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [19]:
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [20]:
# feature/independent variables test data
X_test = test

In [21]:
X_test.head()

,Age,SibSp,Parch,Fare,Sex_male,Pclass_2,Pclass_3,Embarked_Q,Embarked_S,Title_Capt,...,Title_Master,Title_Miss,Title_Mlle,Title_Mme,Title_Mr,Title_Mrs,Title_Ms,Title_Rev,Title_Sir,Title_the Countess
0,34.5,0,0,7.8292,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,47.0,1,0,7.0000,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,62.0,0,0,9.6875,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,27.0,0,0,8.6625,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,22.0,1,1,12.2875,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [22]:
# import logistic regression from linear model module
# this will be used to get the baseline accuracy
from sklearn.linear_model import LogisticRegression

In [23]:
titanic_model = LogisticRegression()

In [24]:
titanic_model.fit(X_train, y_train)

/Users/ayomide.bakare/opt/anaconda3/envs/py3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [25]:
y_pred = titanic_model.predict(X_test)

y_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1])

In [26]:
# format result based on submission guidelines
result = pd.DataFrame(data=passengers_df)

result['Survived'] = y_pred

result.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [27]:
# save transformed test data to csv file
result.to_csv(RESULT_DIR + 'submission_feature_engineering.csv',index=False)